@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<html>
<body>
    <div class="text-center">
        <h1 class="display-4">Privacy Policy</h1>
        <p><center><img src="https://www.paltreev.com/images/prv2.png" width="720" height="340" alt="HTML Dog"></center></p>
    </div>
</body>
</html>
